# Configuration file

enabled {
    B:"abyssalcraft:abybrick"=true
    B:"abyssalcraft:abydreadbrick"=true
    B:"abyssalcraft:cobblestone"=true
    B:"abyssalcraft:cstonebrick"=true
    B:"abyssalcraft:darkstone_brick"=true
    B:"abyssalcraft:dltplank"=true
    B:"abyssalcraft:dreadbrick"=true
    B:"abyssalcraft:dreadlandsdirt"=true
    B:"abyssalcraft:ethaxiumbrick"=true
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"atum:alabaster_brick_smooth"=true
    B:"atum:deadwood_planks"=true
    B:"atum:limestone_brick_large"=true
    B:"atum:palm_planks"=true
    B:"atum:porphyry_brick_smooth"=true
    B:"betternether:stalagnate_planks"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"byg:baobabplanks"=true
    B:"byg:cherryplanks"=true
    B:"byg:cikaplanks"=true
    B:"byg:ebonyplanks"=true
    B:"byg:enchantedplanks"=true
    B:"byg:frozenoakplanks"=true
    B:"byg:greatoakplanks"=true
    B:"byg:hawthornplanks"=true
    B:"byg:hollyplanks"=true
    B:"byg:ironwoodplanks"=true
    B:"byg:jacarandaplanks"=true
    B:"byg:mangroveplanks"=true
    B:"byg:mapleplanks"=true
    B:"byg:pineplanks"=true
    B:"byg:skyrisplanks"=true
    B:"byg:willowplanks"=true
    B:"byg:witchhazelplanks"=true
    B:"byg:zelkovaplanks"=true
    B:"immersiveengineering:treated_wood"=true
    B:"thebetweenlands:mud_bricks"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


